body {
    background-image: url(img/fon.png);
}

/* Блоки */
.top {
    height: 70px;
    text-align: center;
    color: white;
    border: dashed 1px red; //Удалить
}

.row {
    height: 70px;
    text-align: center;
    border: dashed 1px blue; //Удалить
}

.cont {
    height: auto;
    display: flex;
    border: dashed 1px green; //Удалить
}

.col-left {
    width: 30%;
    text-align: center;
    border: dashed 1px yellow; //Удалить
}

.col-center {
    width: 40%;
    text-align: center;
    border: dashed 1px pink; //Удалить
}

.col-right {
    width: 30%;
    text-align: center;
    border: dashed 1px white; //Удалить
}

/* Кнопки */
.button-5 {
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    color: #766AD0;
    border: 1px solid #3A374C;
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    transition: .3s linear;
}
.button-5:before, .button-5:after, .link-content:before, .link-content:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 15px;
    height: 15px;
    transition: .3s linear;
}
.button-5:before {
    left: -1px;
    top: -1px;
    border-left: 1px solid #614DFF;
    border-top: 1px solid #614DFF;
}
.button-5:after {
    bottom: -1px;
    right: -1px;
    border-bottom: 1px solid #614DFF;
    border-right: 1px solid #614DFF;
}
.link-content:after {
    right: -1px;
    top: -1px;
    border-right: 1px solid #614DFF;
    border-top: 1px solid #614DFF;
}
.link-content:before {
    left: -1px;
    bottom: -1px;
    border-bottom: 1px solid #614DFF;
    border-left: 1px solid #614DFF;
}
.button-5:hover {
    color: #614DFF;
    border-color: #614DFF;
}