body {
    background-image: url(img/fon.jpg);
    background-size: cover;
}

/* БЛОКИ */
.top {
    height: 70px;
    text-align: center;
    color: black;
    border: solid 1px red; //УДАЛИТЬ
}

.row {
    height: 70px;
    text-align: center;
    border: solid 1px blue; //УДАЛИТЬ
}

.cont {
    display: flex;
    height: 700px;
    text-align: center;
    border: solid 1px yellow; //УДАЛИТЬ
}

.col-left {
    width: 20%;
    text-align: center;
    border: solid 1px green; //УДАЛИТЬ
}

.col-center {
    width: 80%;
    text-align: center;
    border: solid 1px purple; //УДАЛИТЬ
}

.col-right {
    width: 20%;
    text-align: center;
    border: solid 1px pink; //УДАЛИТЬ
}
/* КНОПКИ */
.sliding-button {
  text-decoration: none;
  color: black;
  display: inline-block;
  position: relative;
  padding: 15px 30px;
  border: 1px solid;
  border-image: linear-gradient(180deg, white, blue, red);
  border-image-slice: 1;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 2px;
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}
.sliding-button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: -1;
  color: white;
  background: linear-gradient(180deg, white, blue, red);
  transition: .8s cubic-bezier(.165, .84, .44, 1);
}
.sliding-button:hover {
  background: rgba(255, 255, 255, 0);
}
.sliding-button:hover:before {
  bottom: 0%;
  top: auto;
  height: 100%;
}